<h2 class="page_title">About "Peace Sign/V Sign Miku"</h2>
<div id="about_goth">
    <div id="about_miku"><%= image_tag('miku.png') %>
    <br></br>
    In a 2016 post, VOCALOID Amino user <a href="https://aminoapps.com/c/vocaloid/page/user/glitchloid-hiatus/xpPf_of6VzM72XvWZmGa5xNRN5aJE87uB">glitchloid</a> described the above illustration as having "haunt[ed] Vocaloid Amino" and that "for ages now, [they've] been on a quest to find its source". I think that this is an apt descriptor for the extent to which this artwork, a fanart of the VOCALOID character Hatsune Miku, has been reposted all over the Internet (not just Amino!) over the years- to the point where information on the original artist has become obscure. For this article, my goal is much the same as glitchloid's: explore the origins of this iconic fanart of Hatsune Miku that has pervaded various online spaces since at least the early 2010s.
    <br></br>
    Unlike "gothic anime angel", it is very clear that "peace sign Miku" is a fanart of Hatsune Miku. The only work left for me to do was to determine the original artist of the image. 
    <br></br>
    In <a href="https://aminoapps.com/c/vocaloid/page/blog/peace-signs-miku-the-artist-possibly-found/06aI_kuKj164NnDXPoWq62vdmkp0x2n">their Amino post</a>, titled "Peace Signs Miku: The Artist Possibly Found...?", glitchloid documented their process of using SauceNAO to conduct a reverse image search on the illustration, and stated that a <b>possible</b> result was a Pixiv user by the username "HRN" (Pixiv ID 52866039), whose account was deleted before glitchloid's post. 
    <br></br>
    First of all, I would like to commend glitchloid's work, as their post was one of the only active efforts to source the image that I could manage to find online (although likely not the first, as fellow VOCALOID Amino user Daylight stated in the comment section of glitchloid's post; "I think I sourced it months ago but I'm glad it's back"). I was unable to find Daylight's post on the subject due to Amino not allowing me to view their post history farther back than April of 2020, but I presume that they came to the same conclusion as glitchloid.
    <br></br>
    As will soon become evident, I came to a very different conclusion as to the original artist of "peace sign Miku". However, I want to take a moment to emphasize that glitchloid did indeed address in their post that SauceNAO's result for the image was only a possibility and not a guarantee, and that I intend no hostility in challenging their conclusion. I believe that "HRN" was one of many Pixiv users who re-uploaded the image to their profiles and that the constant spam of reuploads of the image bloated SauceNAO's results with unauthorized reuploads instead of the original post of the image or links to the image on image boards.
    <br></br>
    Speaking of image boards, it was through them that I was able to find out the identity of the original artist of "peace sign Miku". After cross-referencing information on the image provided on <a href="https://e-shuushuu.net/image/571575/">shuushuu</a>, <a href="https://danbooru.donmai.us/artists/77393">Danbooru</a>, and <a href="https://www.zerochan.net/Pixiv+Id+3879881">Zerochan</a>, I was able to confidently conclude that the <b><u>original artist went under the online aliases "Imouto" (いもうと。) and "takahashisan" (Pixiv ID 3879881)</u></b>.
    <br></br>
    Both Imouto's <a href="https://www.pixiv.net/en/users/3879881">Pixiv account</a> and <a href="http://twitter.com/iiimoutooo">Twitter</a> (@iiimoutooo) have been deactivated, as have their <a href="https://www.stickam.jp/profile/iiimoutooo">Stickam account</a> (unsurprisingly, since Stickam shut down in 2013) and <a href="http://imoutooo.blog.fc2.com">personal blog</a>. I was unable to find archives for any of these (nor was I able to find an archive for the <a href="https://www.pixiv.net/en/artworks/26228723">original Pixiv upload of "peace sign Miku"</a>, so I am unable to confirm the exact date it was first uploaded online, it was uploaded to Danbooru in 2013).
    <br></br>
    However, Imouto's <a href="https://com.nicovideo.jp/community/co1504396">NicoNico account</a>, where they live-streamed drawing, playing video games, and singing, remains up. In their NicoNico profile, which has not been updated since 2012, they state that they are a professional illustrator and use Photoshop CS5 and Paint Tool SAI for digital illustration work.
    <br></br>
    On their <a href="https://seiga.nicovideo.jp/user/illust/23285221">NicoNico profile</a>, Imouto posted a <a href="https://seiga.nicovideo.jp/seiga/im1824054">couple of</a> <a href="https://seiga.nicovideo.jp/seiga/im1750508">drawings of Miku</a> (although not the "peace sign Miku" illustration), as well as a <a href="https://seiga.nicovideo.jp/seiga/im1825234">drawing</a> of <a href="https://prettycure.fandom.com/wiki/Kise_Yayoi">Kise Yayoi</a> from <a href="https://en.wikipedia.org/wiki/Smile_PreCure!">Smile Pretty Cure!</a> All of these drawings date back to 2012.
    <br></br>
    <img src="https://cdn.donmai.us/sample/42/73/__hatsune_miku_vocaloid_drawn_by_imouto_takahashisan__sample-42738836ea8ee1a79b891dba7dfff5de.jpg">
    <img src="https://static.zerochan.net/Hatsune.Miku.full.1060605.jpg">
    <img id="kise" src="https://lohas.nicoseiga.jp/thumb/1825234i?" width="45%">
    <br></br>
    This sketch Imouto made of Miku was reuploaded to image boards from Pixiv as early as 2012:
    <br></br>
    <img src="https://cdn.donmai.us/original/99/fa/__hatsune_miku_vocaloid_drawn_by_imouto_takahashisan__99fa9e17059d73f64501702f4073ec62.png">
    <br></br>
    The Danbooru post for "peace sign miku" indicates that Imouto uploaded either a step-by-step process or a time-lapse video showing the drawing process of the illustration in a <a href="https://www.pixiv.net/en/artworks/26228723">separate Pixiv post</a> (which I was unable to find an archive for).
    <br></br>
    "peace sign Miku" likely gained viral status online through VOCALOID fans reposting the image without crediting Imouto, the original artist, to use on their websites, blogs, social media, forums, etc. At some point it probably became a top search result for cute artworks depicting Hatsune Miku, further causing people to grab the image straight from search engines instead of image boards or the original Pixiv upload and use it without Imouto's permission or credit. While the image boards that provide the information that "peace sign Miku" was illustrated by Imouto are all popular and often top results in search engines such as Google, the substantial presence of uncredited reposts of the image on social media platforms tragically likely drowned out these image boards in search results.
    </div>
</div>